table, th, td {
    border: 1px solid black;
}

table {
    width: 400px;
    height: 400px;
}

th {
    font-size: large;
    width: 100px;
    height: 100px;
}

.th2 {
    /*background-color: #EEF4D4;*/
    background: rgb(202,159,231);
background: linear-gradient(90deg, rgba(202,159,231,1) 0%, rgba(242,189,189,1) 50%, rgba(254,222,178,1) 100%);
}

.th4 {
    background-color: #DAEFB3;
}

.th8 {
    background-color: #5B8E7D;
}

.th16 {
    background-color: #EA9E8D;
}
.th32 {
    background-color: #D64550;
}

.th64 {
    background-color: #A594F9;
}

.th128 {
    background-color: #EEF4D4;
}

.th256 {
    background-color: #DAEFB3;
}

.th512 {
    background-color: #5B8E7D;
}

.th1024 {
    background-color: #EA9E8D;
}
.th2048 {
    background-color: #D64550;
}

.th4096 {
    background-color: #A594F9;
}